body {
  font-family: "Roboto";
  font-size: 16px;
  background: #e5e5e5;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.header {
  background: var(--color-white, #ffffff);
}

/* ----------------header--------------- */
.header-logo-web {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-iris, #4d5ae5);
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-grey, #2e2f42);
}

.header-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 5px;
  letter-spacing: 0.02em;
  color: var(--color-grey, #2e2f42);
}
.header-text:hover,
.header-text:focus {
  color: var(--color-ocean, #404bbf);
}
.contact {
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 5px;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
}
.contact:hover,
.contact:focus {
  color: var(--color-ocean, #404bbf);
}

/* ----------filters----------------------- */

.filter {
  background: #e5e5e5;
}
.filter-list {
}

.filter-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 5px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background: #f4f4fd;
  cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
  color: #ffffff;
  background: #404bbf;
}
/* ---------------footer------------------ */

.footer {
  background: var(--color-grey, #2e2f42);
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-iris, #4d5ae5);
}
.footer-logo-studio {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1, 17px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-cloud, #f4f4fd);
}

.footer-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 5px;
  letter-spacing: 0.02em;
  color: var(--color-cloud, #f4f4fd);
}
